
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+JP&display=swap');

  :root{
    --title-font:'Creepster', cursive;
    --text-font:'Noto Sans JP', sans-serif;
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #091314;
 
  
}


