.testimoniual_li_wrap{
    list-style: none;
    padding: 5px 20px;
}

.testimonial_message{
    color: whitesmoke;
    font-family: var(--text-font);
    margin-bottom: 10px;
    line-height: 1.7;
}

.testimonial_name{
    margin-bottom: 10px;
      color: var(  --btn-color);
      font-family: var(--text-font);

    
}

.testimonial_location{
      color: whitesmoke;
      font-size: var(--text-font);
      font-family: var(--text-font);

}

@media screen and (max-width: 900px) {
   .testimoniual_li_wrap{
    margin-bottom: 10%;
        padding: 5px 10px;
   }

   
}