.dashboard_container{
    padding: 0rem 5% ;
}

.first_row{
    display: flex;

    
}

.welcome_wrap{
    display: flex;
    align-items: center;
       
}

.profile_icon{
    font-size: 80px;
    color: whitesmoke;
    margin-right: 5px;
}

.welcome_text{
    color: whitesmoke;
    
}

/* .rdt_Table{
    border: 1px solid  rgb(147, 147, 147);
} */

