.main_login_container {

  padding:5% 6%;
 
}

.login_form_col {
  display: flex;
  justify-content: center;
  
  align-items: center;

}

.login_form {
  
    padding: 3% 4%;
     box-shadow: rgba(159, 156, 156, 0.189) 1px 1px 1px;
        background-color: #141d1e;
        border-radius: 20px;
}

/* .login_logo_wrap{

} */

.login_logo{
 width: 120px;
 height: 120px;
 margin: auto;
 
}
.login_heading {
  font-family: var(--text-font);
  font-size: 30px;
  margin-bottom: 10%;
  color: var(--btn-color);
  text-align: center;
}

.login_input_wrap {
  margin-bottom: 4%;
}

.login_label {
  display: block;
  font-size: 18px;
  color: #ccc;
  font-family: var(--text-font);
  margin-bottom: 15px;
}

.login_input {
  width: 470px;
  padding: 4px 10px;
background: none;
  border: 1px solid #7e7a7a95;
  outline-color: var(--btn-color);
  border-radius: 20px;
  color: whitesmoke;
}

.login_error_msg{
  color: red;
  font-family: var(--text-font);
  margin-top: 10px;
}



.login_help_links_wrap {
  margin-top: 7%;

}
.login_text_1 {
  color: whitesmoke;
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 1.5;

  
}
.login_text_2{
  color: whitesmoke;
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 1.5;
  text-align: center;

  
}

/* .login_action_btn_wrap {
  
} */

.login_action_btn {
  padding: 4px 15px;
  width: 470px;
  margin: 19px 0px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 7%;
  background-color: var(--btn-color);
  color: black;
}

.login_text {
  color: whitesmoke;

  font-family: var(--text-font);
  font-size: 17px;
}

.login_links {
  text-decoration: none;
  /* margin: 0px 4px; */
  font-family: var(--text-font);
  color: var(--btn-color);
    margin: 0px 4px;
}


/* Mini screen */
/* 
@media screen and (max-width: 1442px) {

  .login_form_col {
    padding: 4% 10%;
    margin: 0rem 4rem;
  }
  .login_form {
    padding: 5% 15%;
  }

 


  .login_logo{
    height: 110px;
  }

    .login_heading{
         font-size: 25px;
    margin-bottom: 6%;
    text-align: center;
    }

  

  .login_input {
    width: 400px;
  }
.login_action_btn{
  width: 400px;
}

} */

/* Ipad */

@media screen and (max-width: 900px) {
  .login_form_col {
    padding: 2rem 2rem;

  }

  .login_form {
    padding: 6% 6%;
  }
  .login_heading {
    font-size: 25px;
    
  }

  .login_label{
    margin-bottom: 10px;
  }

  .login_input {
    max-width: 300px;
    padding: 4px 10px;


  }
.login_action_btn{
  width: 300px;
}

.login_text_1{
  font-size: 16px;
}

.login_text_2{
  font-size: 16px;
  text-align: center;
}
  
  
  .login_img_col {
    display: none;
  }
}
