.main_login_container {

  padding:3% 6%;
 
}

.login_form_col {
  display: flex;
  justify-content: center;
  height: 90vh;
  
  align-items: center;

}

.login_form {
  
    padding: 3% 3%;
     box-shadow: rgba(159, 156, 156, 0.189) 1px 1px 1px;
        background-color: #141d1e;
          border: 1px solid rgba(245, 245, 245, 0.17);
          border-radius: 15px;

}

/* .login_logo_wrap{

} */

.login_logo{
 width: 120px;
 height: 120px;
 margin: auto;
 
}
.login_heading {
  font-family: var(--text-font);
  font-size: 28px;
  margin-bottom: 8%;
  color: var(--btn-color);
  text-align: center;
  font-weight: 600;
}

.login_input_wrap {
  margin-bottom: 3%;
}

.login_label {
  display: block;
  font-size: 18px;
  color: #ccc;
  font-family: var(--text-font);
  margin-bottom: 10px;
}

.login_input {
  width: 467px;
  padding: 6px 10px;

background-color: transparent;
border: 1px solid #cccccca1;
  border-radius: 5px;
  color: whitesmoke;
}

.login_input:focus{
 
outline: var(--btn-color);
  border: 1px solid var(--btn-color);
  color: whitesmoke;
}




.login_help_links_wrap {
  margin-top: 5%;

}
.forgot_pass_text {
  color: whitesmoke;
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.5;
 

  
}

.forgot_pass_link {
  text-decoration: none;
  /* margin: 0px 4px; */
  font-family: var(--text-font);
  color: var(--btn-color);
    margin: 0px 4px;
}

.forgot_pass_link:hover{
  text-decoration: underline;
}

/* .login_action_btn_wrap {
  
} */

.login_action_btn {
  padding: 4px 15px;
  width: 470px;
  margin: 19px 0px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 7%;
  background-color: var(--btn-color);
  color: black;
}

.signup_text {
  color: whitesmoke;


  font-family: var(--text-font);
  font-size: 17px;
}



.login_link {
  text-decoration: none;
  /* margin: 0px 4px; */
  font-family: var(--text-font);
  color: var(--btn-color);
    margin: 0px 4px;
}

.login_link:hover{
  text-decoration: underline;
}


/* Mini screen */
/* 
@media screen and (max-width: 1442px) {

  .login_form_col {
    padding: 4% 10%;
    margin: 0rem 4rem;
  }
  .login_form {
    padding: 5% 15%;
  }

 


  .login_logo{
    height: 110px;
  }

    .login_heading{
         font-size: 25px;
    margin-bottom: 6%;
    text-align: center;
    }

  

  .login_input {
    width: 400px;
  }
.login_action_btn{
  width: 400px;
}

} */

/* Ipad */

@media screen and (max-width: 900px) {
  .login_form_col {
    padding: 2rem 2rem;

  }

  .login_form {
    padding: 5% 7%;
    
  }
  .login_heading {
    font-size: 25px;
    
  }

  .login_label{
    margin-bottom: 10px;
  }

  .login_input {
    max-width: 300px;
    padding: 4px 10px;


  }
.login_action_btn{
  width: 300px;
}

.forgot_pass_text{
  font-size: 15px;
}

.signup_text{
  font-size: 15px;
  text-align: center;
}
  
  
  .login_img_col {
    display: none;
  }
}
