.main_login_container {
  display: flex;
  justify-content: center;
  position: fixed;
}

.login_form_col {
  padding: 7% 10%;
  margin: 0rem 12rem;
}

.login_form {
  padding: 7% 5%;
}
.login_heading {
  font-family: var(--text-font);
  font-size: 50px;
  margin-bottom: 10%;
  color: var(--btn-color);
}

.login_input_wrap {
  margin-bottom: 25px;
}

.login_label {
  display: block;
  font-size: 20px;
  color: #ccc;
  font-family: var(--text-font);
  margin-bottom: 10px;
}

.login_input {
  width: 450px;
  padding: 8px 10px;
background: none;
  border: 1px solid #7e7a7a95;
  outline-color: var(--btn-color);
  border-radius: 5px;
  color: whitesmoke;
}

.login_help_links_wrap {
  margin-top: 10%;

}
.login_text {
  color: whitesmoke;
  font-family: var(--text-font);
  font-size: 17px;
  line-height: 1.5;
  
}

/* .login_action_btn_wrap {
  
} */

.login_action_btn {
  padding: 8px 15px;
  width: 450px;
  margin: 20px 0px;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 10%;
  background-color: var(--btn-color);
}

.login_text {
  color: whitesmoke;

  font-family: var(--text-font);
  font-size: 17px;
}

.login_links {
  text-decoration: none;
  /* margin: 0px 4px; */
  font-family: var(--text-font);
  color: var(--btn-color);
}


/* Mini screen */

@media screen and (max-width: 1442px) {

    .login_heading{
        font-size: 39px;
    }
  .login_form_col {
    padding: 7% 10%;
    margin: 0rem 4rem;
  }

  .login_form {
    padding: 6% 15%;
  }

  .login_input {
    width: 400px;
  }
.login_action_btn{
  width: 400px;
}

}

/* Ipad */

@media screen and (max-width: 900px) {
  .login_form_col {
    padding: 7rem 8%;
    margin: 0;
  }

  .login_form {
    padding: 0% 2%;
  }
  .login_heading {
    font-size: 35px;
    
  }

  .login_input {
    max-width: 315px;

  }
.login_action_btn{
  width: 315px;
}
  
  .login_img_col {
    display: none;
  }
}
