.main_register_container {
  display: flex;
  justify-content: center;
  position: fixed;
}

.form_col {
  padding: 3% 10%;
  margin: 0rem 9rem;
}

.register_form {
  padding: 3% 5%;
}

.register_logo_wrap{
text-align: center;
}
.register_logo{
 width: 120px;
 height: 120px;
 
}
.register_heading {
  font-family: var(--text-font);
 font-size: 30px;
  margin-bottom: 5%;
  color: var(--btn-color);
  text-align: center;
}

.register_input_wrap {
  margin-bottom: 20px;
}

.register_label {
  display: block;
  font-size: 16px;
  color: #ccc;
  font-family: var(--text-font);
  margin-bottom: 10px;
}

.register_input {
  width: 450px;
  padding: 8px 10px;
  background: none;
  border: 1px solid #7e7a7a95;
  outline-color: var(--btn-color);
  border-radius: 20px;
  color: whitesmoke;
}

.help_links_wrap {
  margin-top: 5%;

}
.register_text_1 {
  color: whitesmoke;
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 1.4;

  
}

/* .register_action_btn_wrap {
  text-align: center;
} */

.register_action_btn {
  padding: 6px 15px;
  width: 450px;
  margin: 20px 0px;
  border: 0;
  border-radius: 20px;
  font-size: 19px;
  margin-bottom: 6%;
  background-color: var(--btn-color);
  font-family: var(--text-font);
  color: black;
}

.register_text_2 {
  color: whitesmoke;
 
  font-family: var(--text-font);
  font-size: 18px;
}

.register_links {
  text-decoration: none;
  margin: 0px 4px;
  font-family: var(--text-font);
  color: var(--btn-color);
}


/* Mini screen */

@media screen and (max-width: 1442px) {
  .form_col {
    padding: 2% 8%;
    margin: 0rem 3rem;
  }

  .register_form {
    padding: 2% 15%;
  }

  .regsiter_input {
    width: 400px;
  }
  .register_action_btn{
    width: 450px;
  }
  

}


/* Mobile*/

@media screen and (max-width: 900px) {

  
  .form_col {
    padding: 1rem 2rem;
    margin: 0;
  }

  .register_form {
    padding: 1% 1%;
  }

  .register_logo{
    height: 90px;
  }

  .register_heading {
    font-size: 20px;
    margin-bottom: 4%;
    
    
  }
  .register_input_wrap{
    margin-bottom: 18px;
  }

  .register_input {
    width: 300px;

     padding: 9px 10px;
  }

  /* .register_action_btn_wrap{
   
  } */

  .help_links_wrap{
    margin-bottom: 1%;
  }
  
  .register_text_1{
    text-align: left;
    font-size: 15px;
  }

  .register_text_2{
    font-size: 15px;
    text-align: center;
  }
 
.register_action_btn{
  width: 300px;
}

.img_col {
    display: none;
  }
  
}
