.main_register_container {
  padding: 6% 7%;
  
}

.form_col {
  display: flex;
  justify-content: center; 
  
}

.register_form {
  padding: 2% 3%;
  /* box-shadow: rgba(159, 156, 156, 0.189) 1px 1px 1px; */
  background-color: #141d1e;
  /* border-radius: 10px; */
  border: 1px solid rgba(245, 245, 245, 0.17);
}

.register_logo_wrap {
  text-align: center;
}
.register_logo {
  width: 120px;
  height: 100px;
  margin: auto;
}
.register_heading {
  font-family: var(--text-font);
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 2%;
  color: var(--btn-color);
  text-align: center;
}

.register_text_1 {
  color: whitesmoke;
  text-align: center;

  font-family: var(--text-font);
  font-size: 16px;
  margin-bottom: 4%;
}

.register_links {
  text-decoration: none;
  margin: 0px 4px;
  font-family: var(--text-font);
  color: var(--btn-color);
}

.register_links:hover{
  text-decoration: underline;

}



.register_input_wrap {
  margin-bottom: 19px;
}

.register_label {
  display: block;
  font-size: 18px;
  color: #ccc;
  font-family: var(--text-font);
  margin-bottom: 8px;
}

.register_input {
  width: 470px;
  padding: 6px 10px;
background-color: #344c51;
  border: 1px solid #939996;
  outline-color: var(--btn-color);
  border-radius:2px;
  color: whitesmoke;
}

.register_input:focus{
  background-color: rgba(245, 245, 245, 0.843);
  outline: #1e1f1f65;
  border: 1px solid #939996;
  color: black;
}

.register_error_msg {
  color: red;
  margin-top: 7px;
  font-family: var(--text-font);
}

/* .help_links_wrap {
  margin-top: 4%;
} */
.register_text_2 {
  color: whitesmoke;
  font-family: var(--text-font);
  font-size: 16px;
  text-align: center;
  
}

.register_action_btn_wrap {
  text-align: center;
  margin-top: 5px;
}

.register_action_btn {
  padding: 5px 15px;
  width: 470px;
  margin: 15px 0px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 4%;
  background-color: var(--btn-color);
  color: black;
  cursor: pointer;
}



/* Mini screen */

@media screen and (max-width: 1442px) {

  .main_register_container {
  padding: 1% 7%;
  
}

  
  

}

/* Mobile*/

@media screen and (max-width: 900px) {
  .form_col {
    padding: 1rem 2rem;
    margin: 0;
  }

  .register_form {
    padding: 8% 7%;
  }

  .register_logo {
    height: 90px;
  }

  .register_heading {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 4%;
  }

  .register_label {
    margin-bottom: 10px;
  }
  .register_input_wrap {
    margin-bottom: 17px;
  }

  .register_input {
    width: 300px;

    padding: 4px 10px;
  }

  /* .register_action_btn_wrap{
   
  } */

  .register_action_btn_wrap{
    margin-bottom: 5%;
  }

  .register_text_1 {
    margin-bottom: 5%;
    font-size: 15px;
  }

  .register_text_2 {
    font-size: 15px;
    text-align: center;
  }

  .register_action_btn {
    width: 300px;
  }
}
