.reset_password_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
 
}
.reset_password_heading{
    color: whitesmoke;
    font-family: var(--title-font);
    margin-bottom: 20px;
    font-size: 45px;
 
}

.reset_password_text{
    color: whitesmoke;
    width: 450px;
    margin-bottom: 10%;
    font-family: var(--text-font);
    line-height: 1.5;
 
}

.reset_password_input{
    width: 450px;
    padding: 8px 10px;
    margin-bottom: 8%;
    font-size: 16px;
    outline-color: var(--btn-color) ;
    font-family: var(--text-font);
}

.reset_password_action_btn{
    width: 450px;
    padding: 7px 10px;
    font-size: 18px;
    border: 0;
    background-color: var(--btn-color);
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-family: var(--text-font);
}


@media screen and (max-width: 900px){
    .reset_password_main_container{
        height: 70vh;
        
    }

    .reset_password_text{
        width: 350px;
    }

    .reset_password_input{

        width: 340px;
        
    }
    
    .reset_password_action_btn{
         width: 340px;

    }
}