.reset_password_main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}

.reset_password_form{
    background-color: #141d1e;
    padding: 3% 5%;
    /* border: 1px solid rgba(154, 152, 152, 0.328); */
    border-radius: 15px;

    box-shadow: rgba(159, 156, 156, 0.189) 1px 1px 1px;

}
.reset_passw_logo_wrap{
    text-align: center;
    height: 100px;
    margin-bottom: 10px;

}

.reset_passw_logo{
    height: 150px;
    width: 150px;
    margin: auto;
    
}
.reset_password_heading{
    color: whitesmoke;
    font-family: var(--text-font);
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
 
}

.reset_password_text{
    color: whitesmoke;
    width: 450px;
    margin-bottom: 7%;
    font-family: var(--text-font);
    line-height: 1.5;
 
}

.reset_password_input{
    width: 450px;
    padding: 9px 10px;
    margin-bottom: 8%;
    font-size: 16px;
    outline-color: var(--btn-color) ;
    font-family: var(--text-font);
}

.reset_password_input.invalid{
    outline: red;
    background-color: rgba(255, 0, 0, 0.117);
    border: 1px solid red;
    color: whitesmoke;
}



.reset_password_action_btn{
    width: 450px;
    padding: 8px 15px;
    font-size: 17px;
    border: 0;
    background-color: var(--btn-color);
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-family: var(--text-font);
    
}


@media screen and (max-width: 900px){
    .reset_password_main_container{
        height: 85vh;
        
    }
    .reset_password_form{
        padding: 7% 4%;
    }

    .reset_password_heading{
        font-size: 30px;
    }

    .reset_password_text{
        width: 300px;
        text-align: center;
        margin-bottom: 10%;
    }

    .reset_password_input{

        width: 300px;
        
    }
    
    .reset_password_action_btn{
         width: 300px;

    }
}