.service_main_wrap{
    padding: 7% 8%;
}
.service_overview_wrap{
    text-align: center;
}

.service_overview_title{
    color: whitesmoke;
    margin-bottom: 2%;
    font-family: var(--title-font);
    font-size: 35px;
    
  
}

.service_overview_desc{
 padding: 0% 15%;
 color: whitesmoke;
 font-family: var(--text-font);
}

.service_flex_container{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    
}

.service_inner_container{
    text-align: center;
    border: 1px solid rgb(37, 35, 35);
    margin: 0px 16px;
    border-radius: 20px;
    padding: 4% 1%;
    background-color: #141d1e;
    /* box-shadow: rgba(201, 192, 192, 0.02) 0px 1px 3px 0px, rgba(144, 152, 161, 0.15) 0px 0px 0px 1px; */
    transition: 200ms ease-in-out ;
    box-shadow: rgba(186, 183, 183, 0.355) 0px 1px 1px;
}

.service_inner_container:hover{
    background-color: #cacaca27;
    transform: scale(7px);

}

.service_icon{
    font-size: 35px;
    margin-bottom: 7%;
    color:#5ba2b2 ;
    margin: auto
    
}

.service_inner_container_title{
    color: var(  --btn-color);
    margin-top: 4%;
    font-family: var(--title-font);
    font-size: 20px;
    line-height: 1.7;

}

.service_inner_container_desc{
    color: whitesmoke;
    font-family: var(--text-font);
    margin-top: 6%;
    line-height: 1.8;
}

/* Mobile */

@media screen and (max-width:900px) {

    .service_main_wrap{
        padding: 10% 5%;
        margin-top: 10%;

    }
 .service_overview_wrap{
    margin-top: 10%;
 }
   .service_overview_title{
        font-size: 30px;
         margin-bottom: 5%;
         line-height: 2;
       
         
    }
    .service_overview_desc{
        padding: 0% 0%;
        margin-bottom: 8%;
        line-height: 2;
    }
    .service_flex_container{
        flex-direction: column;
        padding: 5% 1%;

    }

    

    .service_inner_container{
        margin-bottom: 8%;
        padding: 6% 4%;
    }
    .service_inner_container_title{
        font-size: 20px;
        
    }
    .service_inner_container_desc{
        line-height: 1.7;
    }
}