.blog_main_wrap{
    background-image: linear-gradient( rgba( 2, 4, 3, 0.9), rgba( 2, 4, 3, 0.9)), url(../../public/assets/blogBg.jpg)  ;
    text-align: center;
    padding: 5% 5%;
    background-position: center;
    background-size: cover;
}

.blog_section_heading{
    font-size: 36px;
    font-family: var(--title-font);
    color: whitesmoke;
    margin-bottom: 1%;
    line-height: 1.7;
}

.blog_section_desc{
    padding: 0% 15%;
    font-family: var(--text-font);
    margin-bottom: 3%;
    color: whitesmoke;

}

.blog_section_sub_heading{
     font-family: var(--text-font);
     font-size: 30px;
    margin-bottom: 4%;
    color: whitesmoke


}

.blog_action_btn{
    padding: 10px 15px;
    width: 300px;
    border: 1px solid var(--btn-color);
    border-radius: 15px;
     background: none;
    color: whitesmoke;
    font-size: 20px;
    transition: 100ms ease-in;
    cursor: pointer;
}

.blog_action_btn:hover{
    background-color: var(--btn-color);
}

@media screen and (max-width:900px) {

    .blog_main_wrap{
         padding: 15% 4%;
    }
    .blog_section_heading{
        font-size: 25px;
        margin-bottom: 5%;
        line-height: 1.7;
    }
    .blog_section_desc{
        padding: 0% 4%;
        line-height: 2;

    }
    .blog_section_sub_heading{
        font-size: 20px;
        margin-bottom: 10%;
    }
    
}