/* .footer{
    

} */

.footer_main_heading{
    font-family: var(--title-font);
    color: whitesmoke;
    margin-bottom: 15px;
    font-size: 30px;
}

.inner_footer_main_wrap{
       display: flex;
    padding: 4% 8%;
    
}

.footer_inner_col{
    margin-right: 10%;
}
.footer_inner_col_2{
    display: none;
}



.footer_text{
    color: whitesmoke;
    font-family: var(--text-font);
   width: 350px;
   line-height: 1.7;
    

}

.footer_inner_inner_heading{
    color: whitesmoke;
    margin-bottom: 18px;
    font-size: 25px;
    font-family: var(--title-font);
}

.footer_inner_col_li{
    list-style: none;
    margin-bottom: 14px;
}

.footer_link{
    color: whitesmoke;
    text-decoration: none;
    font-family: var(--text-font);
}

.hr{
      border: 0;
    height: 1px;
    background: #333;
    
}

.copy_right_wrap{
    display: flex;
    justify-content: space-between;
    padding: 1% 6%;
}

.copy_right_text{
    color: whitesmoke;
    font-family: var(--text-font);
}

.footer_icon{
    color: whitesmoke;
    font-size: 25px;
    margin: 0px 8px;
}

@media screen and (max-width:900px) {
    
    .inner_footer_main_wrap{
        flex-direction: column;
           padding: 15% 6%;
    }
    .footer_main_heading{
        font-size: 25px;
        margin-bottom: 16px;
    }
    .footer_inner_col{
        margin-bottom: 4rem;
    }

    .copy_right_wrap{
        padding: 4% 3%;

    }

    .footer_icon{
        font-size: 18px;
        margin: 0px 4px;
    }
    
}