@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.hero_container {
  display: flex;
  justify-content: center;
  padding: 3% 10%;
}

.hero_inner_container_1 {
  margin-right: 8%;

  margin-top: 9%;
  padding: 2% 1%;
}


.hero_heading_wrap{
    margin-bottom: 3%;

}
.let{
     font-size: 55px;
font-family: 'Bruno Ace SC', cursive;
  color: #75e7cf;

}
.us{
     font-size: 55px;

 font-family: 'Bruno Ace SC', cursive;
  color: #cfd2ee;

}

.re{
     font-size: 55px;
       
  font-family: 'Bruno Ace SC', cursive;
  color: #d4b9f7;
}

.con{
     font-size: 55px;
   
  font-family: 'Bruno Ace SC', cursive;
  color: #7864f2;
}
.hero_text {
  color: whitesmoke;
  /* width: 550px; */
  line-height: 1.8;
  font-family: var(--text-font);
}

.hero_action_btn {
  padding: 10px 25px;
  border: 1px solid var(  --btn-color);
  color: whitesmoke;
  width: 180px;
  margin-top: 6%;
  background: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

.hero_action_btn:hover {
  background-color: var(--btn-color);
}
.hero_img {
  /* border-radius: 15px; */
  /* transform: skewX(-13deg); */
  /* border: 1px solid rgb(52, 49, 49); */
}


/* Mobile */

@media screen and (max-width: 900px) {
  .hero_container {
    flex-direction: column;
    padding: 4% 7%;
  }
  .hero_inner_container_1 {
    text-align: center;
    margin: 0;
    padding: 2% 1%;
  }


  .let{
    font-size: 25px;
  }
    .us{
    font-size: 25px;
  }
    .re{
    font-size: 25px;
  }

    .con{
    font-size: 25px;
  }
    .hero_text {
    text-align: center;

    line-height: 2.5;
  }

  .hero_img {
    display: none;
  }
  

  .hero_action_btn {
    margin-top: 8%;
  }
}

@media screen and (max-width: 1442px) {
  .hero_inner_container_1 {
    margin-top: 7%;
  }

  .hero_img {
    width: 465px;
    height: 450px;
  }
}
