/* .pricing_main_container{

} */
.pricing_heading_wrap {
  text-align: center;
  padding: 5% 5%;
  margin-top: 5%;
}

.pricing_heading {
  color: whitesmoke;
  font-family: var(--title-font);
  font-size: 35px;
}

.package_flex_container {
  display: flex;
  justify-content: center;
  background-color: #141d1e;
  padding: 8% 6%;
}

.package_box_1 {
  margin: 2% 2%;
  padding: 2% 2%;
  /* background-color: #39423c; */
  border-radius: 15px;
  box-shadow: rgba(118, 111, 111, 0.348) 1px 1px 2.6px;
  height: 450px;
}

.package_box_2 {
  margin: 0% 2%;
  padding: 2% 2%;
  height: 500px;

  background-color: #59625a27;
  border-radius: 15px;
  box-shadow: rgba(188, 192, 197, 0.33) 0px 0px 0px 1px,
    rgba(187, 194, 194, 0.269) 0px 1px 1px -1px,
    rgba(203, 197, 197, 0.297) 0px 1px 0px inset;
}

.package_box_3 {
  margin: 2% 2%;
  padding: 2% 2%;
  /* background-color: #39423c; */
  border-radius: 15px;
 box-shadow: rgba(118, 111, 111, 0.348) 1px 1px 2.6px;
   height: 450px;
}

.package_title {
  margin-bottom: 10%;
  color: whitesmoke;
  font-family: var(--title-font);
  font-size: 30px;
  text-align: center;
}

.package_desc {
  font-size: 25px;
  font-family: var(--text-font);
  color: whitesmoke;
  margin-bottom: 5%;
  font-weight: 300;
}

.package_amount {
  font-size: 40px;
  font-family: var(--text-font);
  color: whitesmoke;
  margin-bottom: 10%;
}

.package_timeline {
  margin-top: 7%;
  color: #d1d4d0;
  font-size: 21px;
  margin-left: 7px;
}

.package_action_btn {
  width: 270px;
  padding: 7px;
  background: none;
  border: 1px solid var(--btn-color);
  color: whitesmoke;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 10%;
  cursor: pointer;
  transition: 1.7ms ease-in-out;
}

.package_action_btn:hover{
    background-color: var(--btn-color);
}

/* .package_features_wrap {
} */

.package_feature_heading {
  color: whitesmoke;
  font-family: var(--text-font);
  margin-bottom: 10px;
}

.package_feature {
  font-size: 18px;
  font-family: var(--text-font);
  color: whitesmoke;
  margin-bottom: 8px;
}

/* Mobile */

@media screen and (max-width: 900px) {
  .package_flex_container  {
    flex-direction: column;
    padding: 15% 6%;
  }

  .pricing_heading {
  
    font-size: 25px;
    margin-bottom: 3%;
  }


  .package_box_1 {
    margin-bottom: 10%;
    padding: 14% 5%;
  }
  .package_title {
    font-size: 25px;
  }

  .package_desc {
    font-size: 19px;
  }

  .package_box_2 {
    margin-bottom: 10%;
    padding: 15% 5%;
  }
  .package_box_3 {
    padding: 14% 5%;
  }

  .package_amount{
    margin-bottom: 2rem;
  }
  .package_action_btn {
    width: 269px;
    margin-bottom: 3rem;
    
  }

}
