.sidebar_nav{
    width:350px;
    height: 110vh;
    padding: 10% 15%;
   

}

.sidebar_ul{
    text-align: left;
     
}

.sidebar_li{
    list-style: none;
   padding: 2% 5%;
   display: flex;
    margin-top: 6%;
}

.sidebar_li:hover{
    background-color: var(--btn-color);
    border-radius: 7px;
}

.sidebar_link{
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 5px;
    
   
}

.sidebar_icon{
    margin-right: 10px;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 3px;
  

   
}


