/* .sidebar_nav{
   
    padding: 8% 13%;
    
   
   

} */

.sidebar_ul{
    text-align: left;
    padding: 7% 0%;
    
     
}

/* .sidebar_li{
    list-style: none;
  
   display: flex;
    margin-top: 10%;
    padding: 5px 10px;
} */

/* .sidebar_li:hover{
    background-color: var(--btn-color);
    border-radius: 7px;
} */

/* .sidebar_link{
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 18px;
    color: whitesmoke;
    margin-top: 2px;
   
    
   
} */

/* .sidebar_icon{
    margin-right: 10px;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 3px;
  

   
} */

.active{
    background-color: #63c0d2;
}

