.testimonial_main_wrap{
    padding: 10% 5%;
    text-align: center;
    background-color: #141d1e;
}
.testimonial_heading{
    color: whitesmoke;
    margin-bottom: 4%;
    font-size: 25px;
    font-family: var(--title-font);
}
.testimonial_ul_wrap{
    display: flex;
    justify-content:center ;
}

/* Mobile */

@media screen and (max-width: 900px) {
    .testimonial_ul_wrap{
        flex-direction: column;
         padding: 10% 1%;
    }
    
    .testimonial_heading{
        font-size: 18px;
        margin-bottom: 2%;
        line-height: 1.7;
    }
}